{
    "printWidth": 120,
    "trailingComma": "all",
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "useTabs": false,
    "tabWidth": 2,
    "semi": true,
    "endOfLine": "lf"
  }
  